.Positif{
  background-color:red;
  font-Size: 2em;
  margin: 1px;
  width:90%;
}

.Sembuh{
  background-color: greenyellow;
  font-Size: 2em;
  margin: 1px;
  width:90%;
}

.Meninggal{
  background-color: orange;
  font-Size: 2em;
  margin: 1px;
  width:90%;
}
